.navigation-bar-outer
    .navigation-bar-inner
        .left-side
            p.title Finding Falcone!
        .right-side
            a(href="#", onClick="return false;", title="Reset UI", (click)="resetButtonClicked()").reset Reset