@require "../../stylesheets/variables"

.navigation-bar-outer
    width 100%
    height $navigation-bar-height
    .navigation-bar-inner
        width initial
        height 100%
        display flex
        flex-direction row
        justify-content space-between
        align-items: center
        padding: 0 10px
        background-color: #52637A;
        .left-side
            p.title
                color: white;
                font-size: $large-font-size;
        .right-side
            a
                color: white
