
$navigation-bar-height = 60px;
$footer-bar-height = 40px;
/**
 * 
 */
$large-font-size = 24px;
$medium-font-size = 14px;

$global-primary-color = #0089D0;
$global-lightgray = #d3d3d3;
$global-alert-color = #CD5C5C;



/* For mobile UI*/
onMobile()
    @media only screen and (max-width : 768px)
        {block}
/* For mobile UI*/
onTablet()
    @media only screen and (max-width : 1000px)
        {block}
